.center {
  text-align: center;
}

#login-page-username-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

label {
  margin-top: .5em;
}

#login-page-error-message{
  color: red;
}

#login-page-username {
  margin-top: 1em;
  display: block;
  width: 50%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin-left: 25%;
}

#login-page-username:focus {
  border-color: wheat;
  background-color: white;
}

#login-page-login-button {
  display: inline-block;
  padding: .4em .5em;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: red;
  border: none;
  border-radius: .3em;
  margin-top: 1em;
  margin-left: 25%;
  width: 50%;
}

#login-page-login-button:active {

  transform: translateY(.1em);
}